@import "colors";

.widget-score-history {
  position: absolute;
  left: 1vw;
  top: 23vh;
  div {
    border-bottom: 1px solid $foreground;
  }
  span {
    display: inline-block;

    &.round {
      width: 6vw;
    }
    &.value {
      width: 7vw;
    }
  }
}