.widget-dartboard {
  top: 1vh;
  right: 30.5vw;
  width: 39vw;
  height: 39vw;

}
.widget-temp-score {
  right: 5vw;
  top: 4vh;
  bottom: auto;
}


$double_bull: yellow;
$single_bull: orange;
$inner: red;
$triple: blue;
$outer: black;
$double: grey;

.widget-dartboard {
  .sector {
    .little { fill: $inner !important; }
    .fat { fill: $outer !important; }
    .double { fill: $double !important; }
    .triple { fill: $triple !important; }
    .score { display: none; }
  }
  .sector_bull {
    .single { fill: $single_bull !important; }
    .double { fill: $double_bull !important; }
  }
}


.archery-mark {
  &.double_bull {
    stroke: $double_bull;
    fill: $double_bull;
  }
  &.single_bull { stroke: $single_bull; }
  &.inner { stroke: $inner; }
  &.triple { stroke: $triple; }
  &.outer { stroke: $outer; }
  &.double { stroke: $double; }
}