.widget-current-score {
  position: absolute;
  bottom: 30vh;
  width: 100vw;
  //background-color: rgba(0, 0, 0, .25);
  font-size: 60vh;
  line-height: 60vh;
  text-align: center;

  &.winner {
    font-size: 40vh;
  }
}