@import "colors";

.widget-temp-score {
  position: absolute;
  bottom: 46vh;
  right: 2vw;
  border: 1px solid $foreground;
  width: 12vw;
  height: 16vh;
  text-align: center;
  font-size: 10vh;
  line-height: 12vh;
  vertical-align: middle;

  div {
    border-bottom: 1px solid $foreground;
    font-size: 3vh;
    line-height: 4vh;
  }

  &.hidden {
    display: none;
  }
}