@charset "utf-8";

@import "reset";


body {
  font-family: -apple-system, Times New Roman, Helvetica Neue, Arial, sans-serif;
  font-weight: 300;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 6vh;
  line-height: 7vh;

  color: #fff;
  background-color: #000;
}
*, html {
  font-weight: 300;
}

.game-client {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}