@import 'colors';

.notification-bomb {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  line-height: 100vh;
  vertical-align: middle;

  background-color: rgba($background, 0.8);
  color: $background;

  .svg-bomb {
    position: absolute;
    top: 5vh;
    left: 35vw;
    width: auto;
    height: 75vh;

    z-index: 1;
    opacity: 0;

    .spark {
      fill: red;
      stroke-width: 2;
      stroke: black;
    }
    .bomb {
      fill: $foreground;;
    }
    text {
      fill: $background;
      font-size: 90px;
    }
  }

  .svg-pow {
    position: absolute;
    top: 10vh;
    left: 20vw;
    width: auto;
    height: 75vh;

    z-index: 100;
    opacity: 0;
  }
}