@import "colors";

.archery-mark {
  text-align: center;
  vertical-align: middle;
  stroke-width: 20;
  stroke: $foreground;
  fill: transparent;

  circle { -webkit-svg-shadow: 0 0 2px $foreground; }

  text {
    display: none;
    fill: $foreground;
  }
  &.miss {
    stroke-width: 0;
    text { display: inline-block; }
    circle { display: none; }
  }
}