@import "colors";

.widget-dartboard {
  position: absolute;
  right: 1.5vw;
  top: 25vh;
  width: 22vw;
  height: 22vw;

  &.hidden {
    display: none;
  }

  &.highlight {
    path, text, circle {
      opacity: .25;
    }

    path.highlight {
      opacity: 1;
      &.single {
        fill: #ff3 !important;
      }
    }
    circle.highlight {
      opacity: 1;
    }
    text.highlight {
      opacity: 1;
      font-weight: bold;
    }
  }

  .sector {
    &.light {
      .double,
      .triple {
        fill: green;
      }
      .single {
        fill: #ddd;
      }
    }
    &.dark {
      .double,
      .triple {
        fill: red;
      }
      .single {
        fill: black;
      }
    }

    .score {
      font-size: 50px;
      fill: $foreground;
    }

    .hide {
      display: none;
    }
    .blink {
      animation: blink-animation 1s steps(3, start) infinite;
    }
  }

  .sector_bull {
    .light {
      fill: green;
    }
    .dark {
      fill: red
    }
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
}