.throw-types {
  margin-top: 45vh;
  margin-bottom: 2vh;

  button {
    width: 20vw;
    font-size: 3vh;
    text-align: center;
    padding: 0;
    margin: 0;
    &.inner {
      height: 4vh;
    }
    &.triple {
      height: 6vh;
      background-color: #9e9;
    }
    &.outer {
      height: 8vh;
    }
    &.double {
      background-color: #9e9;
    }
  }
}