@import "colors";

.widget-dartboard {
  top: 4vh;
  right: 32.5vw;
  width: 35vw;
  height: 35vw;
}


//.widget-player {
//  &.player_1 div { background-color: $player_1_primary; color: $player_1_secondary; }
//  &.player_2 div { background-color: $player_2_primary; color: $player_2_secondary; }
//}