.throwButton {
  height: 10vh;
  border-radius: 0;
  border: 1px solid #000;
  vertical-align: middle;
  background-color: #fff;
  font-size: 3vh;

  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &:disabled {
    opacity: .5;
  }
  &.selected {
    font-weight: bold;
    background-color: #000 !important;
    color: #fff !important;
  }
  &.undo {
    position: absolute;
    top: 1vh;
    right: 2vw;
    width: 28vw;
    height: 6vh;
    font-size: 2vh;
  }
  &.submit {
    width: 100vw;
    border-left: none;
    border-right: none;
  }
}